{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!--Arghadeep-->
<style>
    .center {
      text-align: left;
      border: 3px solid green;
    }
    .tabcenter {
  margin-left: auto;
  margin-right: auto;
}
    </style>
    <div class="center">
        {% autoescape false %}
        <h4>Code Conversion</h4>
        <Table style="table-layout:fixed" cellspacing=1 cellpadding=2 width="100%" border="1">
            <tr><td>
                {{code_text}}
                </td><td>
                <h5>{{from_code}}===>{{to_code}}</h5>
                </td><td>
                    {{return_txt}}
                </td></tr>
        </table> 
        <h4>Code Explain</h4>
        <Table style="table-layout:fixed" cellspacing=1 cellpadding=2 width="100%" border="1" class="tabcenter">
            <tr><td>
                {{code_text_exp}}
                </td><td>
                <h5>{{from_code}}===>{{to_code}}</h5>
                </td><td>
                    {{return_txt_exp}}
                </td></tr>
        </table> 
        {% endautoescape %}

            </div>
            
     <div align="center" id="output" style="margin: 10px;"></div>
<!--arghadeep ends-->    



{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}