{% extends "layouts/base.html" %}

{% block title %} UI Typography {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header mb-5">
        <h5 class="card-category"></h5>
        <h3 class="card-title">Created a Configuration</h3>
      </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
